#progress-bar {
    width: 436px;
    height: 2px;
    background-color: #7c7c7c;
    border-radius: 2px;
    overflow: hidden;
}

#green-progress {
    width: 33.3%;
    height: 100%;
    background-color: #1ED760;
    transition: width 0.3s ease;
}

.input-with-icons {
    position: relative;
}

.input-with-icons .input-div {
    padding-right: 44px;
}

.password-toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    fill: #b3b3b3;
    cursor: pointer;
    transition: all 0.05s ease;
}

.password-toggle:hover {
    fill: #ffffff;
    transform: translateY(-50%) scale(1.05);
    transform-origin: center;
}

.spacer-div {
    margin-top: 45px;
}

.spacer-div1 {
    margin-top: 45px;
}

.spacer-div2 {
    margin-top: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.li-password {
    padding-bottom: 5px;
}

.small-svg {
    fill: #1ED760;
    height: 12px;
    width: 12px;
}

.text {
    padding-left: 8px;
    font-size: 14px;
    font-family: mixUIRegular;
}

.label {
    display: block;
    font-size: 14px;
    font-family: mixUIRegular;
    font-weight: 700;
    padding-bottom: 8px;
}

/* Progress */
.progress {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 80px;
    width: 436px;
    box-sizing: border-box;
}

.progress .arrow {
    height: 100%;
    display: flex;
}

.progress .arrow button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 16px;
}

.progress .arrow button a svg {
    justify-content: center;
    align-items: center;
    width: 24px;
    fill: #7c7c7c;
    transition: scale 0.05s ease;
}

.progress .arrow button:hover a svg {
    width: 24px;
    scale: 1.06;
    fill: rgb(184, 179, 179);
}

#step-task-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
}


#step {
    font-size: 16px;
    color: #b3b3b3;
    font-family: mixUIRegular;
    margin-bottom: 4px;
}

#task {
    font-size: 16px;
    font-family: mixUIRegular;
    font-weight: bold;
}

/* Progress end */

.is-red {
    color: #F3727f !important;
}

.input-div.touched {
    border-color: rgb(216, 54, 54);
}

.label-small {
    font-size: 13px;
    color: #b3b3b3;
}

.dob-inputs {
    margin-top: 8px;
    margin-bottom: 24px;
    display: flex;
    gap: 8px;
}

.div-day {
    max-width: 60px;
}

.div-day input {
    width: 60px;
    box-sizing: border-box;
}

.div-month {
    position: relative;
    display: flex;
    align-items: center;
}

.div-month select {
    min-width: 158px;
}

/* Make the select fill the .div-month space */
.div-month select.input-div {
    width: 100%;
}

.arrow-down-menu {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    fill: #b3b3b3;
    height: 24px;
}

.remove-defaut-arrow {
    /* default arrow remove */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: none;
    padding-right: 30px;
}

.gray-link {
    color: #c5c4c4;
}

.label-div {
    padding-bottom: 4px;
}

.div-gender input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
    width: 16px;            
    height: 16px;
    border: 1px solid white; 
    border-radius: 50%;
    position: relative;
    display: inline-block;
}

.div-gender input[type="radio"]:checked {
    border-color: rgb(94, 221, 94);
    border-width: 4px ;
}

.div-gender input[type="radio"]:hover {
    border-color: rgb(107, 247, 107);
}


