.index-button a {
    text-decoration: none;
    color: black;
}

.index-div {
    width: 300px;
    margin: auto;
}

.disclamer {
    text-align: center;
    padding-top: 10px;
}


.disclamer span {
    color: red;
}