@import url(fonts.css);

.email-field::placeholder {
    font-size: 16px;
    font-weight: 500;
    font-family: mixUIRegular;
    color: rgb(182, 176, 176);
}

.continue-button:hover {
    background-color: #2de36d;
}

.dif-logins a {
    transition: border-color 1.5s ease;
}

.dif-logins a:hover {
    border-color: white;
}

.input-div.touched.warning:invalid {
    border-color: rgb(216, 54, 54);
}

.warning.hidden,
.hidden {
    display: none;
}

.warning {
    margin-top: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #f3727f;
    font-size: 13px;
    font-family: mixUIRegular;
}

.warning svg {
    width: 20px;
    margin: 2px 4px 0px 0px;
    fill: #f3727f;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

select {
    background-color: black;
    color: white;           /* text color */
    border: 1px solid #444;
}

select option {
    background-color: black;
    color: white;
}

.button-spacer {
    margin-top: 20px;
}

.warning-spacer {
    padding: 20px;
}